{% extends "layout.html" %}

{% block body %}
  <div class="page-header">
    <h1>{{ city }} <small>Lombardia, Italia</small></h1>
  </div>
  <div class="city-detail">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    5365 cittadini
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    200 segnalazioni
  </div>
  {{ city }} è un comune in Lombardia, Italia.<br>
  27 persone hanno contribuito a migliorare {{ city }}, effettuando 200 segnalazioni,
  89 commenti e 288 punti.<br>
  Non ci sono impiegati comunali registrati per {{ city }}, chiedi al tuo comune
  di registrarsi ad Harambee!<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Segnalazioni Hot</div>
          <ul class="list-group">
            <li class="list-group-item">Buca in via Roma <span class="badge">25 punti</span> <span class="badge">8 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
            <li class="list-group-item">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Ultime segnalazioni</div>
          <ul class="list-group">
            <li class="list-group-item">Cartello sfasciato</li>
            <li class="list-group-item">Cestino pieno</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Top Reporters</div>
          <ul class="list-group">
            <li class="list-group-item">Marco Rossi <span class="badge">13 segnalazioni</span></li>
            <li class="list-group-item">Andrea Verdi <span class="badge">9 segnalazioni</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
