{% extends "layout.html" %}

{% block body %}
  <div class="page-header">
    <h1>
      {{ city }}
      <small>
        Lombardia, Italia
        <span class="label label-info">New</span>
        <span class="label label-success">Trending</span>
        <span class="label label-danger">On Fire!</span>
      </small>
    </h1>
  </div>
  <div class="city-detail">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <strong>5365</strong> cittadini
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <strong>{{ city.bugs|count }}</strong> segnalazioni
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    registrata <strong>14 Settembre 2014</strong>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
  {{ city }} è un comune in Lombardia, Italia.<br>
  27 persone hanno contribuito a migliorare {{ city }}, effettuando 200 segnalazioni,
  89 commenti e 288 punti.<br>
  Non ci sono impiegati comunali registrati per {{ city }}, chiedi al tuo comune
  di registrarsi ad Harambee!<br>
        Prova di testo molto lungo che mi serve per verificare che vada a capo
        senza sforare nella colonna di destra, non dovrebbe essere difficile
        e io credo che funzioni ma per sicurezza proviamo lo stesso dai<br>
      </div>
      <div class="col-md-2">
        <a href="{{ url_for('new_bug', city_id=city.id) }}">
          <button class="btn btn-lg btn-primary">Segnala un problema</button>
        </a>
      </div>
    </div>
    <div id="city-lists" class="row">
      <div class="col-md-2 col-md-push-10">
        <ul id="citynav" class="nav nav-pills nav-stacked">
          <li role="presentation" class="active">
            <a href="#bugs">
              Segnalazioni <span class="badge">{{ city.bugs|count }}</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#users">
              Utenti <span class="badge">{{ users|count }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 col-md-pull-2">
        <div class="tab-content">
          <div id="bugs" class="tab-pane fade active in">
            <ul class="list-group">
              {% for bug in city.bugs %}
              <li class="list-group-item collapsed">
                <h2 class="bug-title">
                  {{ bug.title }}
                  <span class="badge">25 punti</span>
                  <span class="badge">8 commenti</span>
                </h2>
                <div class="bug-details">
                  {{ bug.content }}
                </div>
              </li>
              {% endfor %}
              {% if city.bugs|count == 0 %}
              <li class="list-group-item">
                Non ci sono segnalazioni.
              </li>
              {% endif %}
            </ul>
          </div>
          <div id="users" class="tab-pane fade">
            <ul class="list-group">
              {% for user in users %}
              <li class="list-group-item">
                {{ user.name }}
                <span class="label label-danger">Top Reporter</span>
                <span class="label label-info">Impiegato comunale</span>
                <span class="badge">8 segnalazioni</span>
              </li>
              {% endfor %}
              {% if users|count == 0 %}
              <li class="list-group-item">
                Non ci sono utent.
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.onload = function() {
          $('li.list-group-item.collapsed').hover(function() {
              $(this).toggleClass('collapsed');
          });
          $('#citynav a').click(function(e) {
              $(this).tab('show');
          });
      };
    </script>
  </div>
{% endblock %}
