{% extends "layout.html" %}

{% block body %}
  <div class="page-header">
    <h1>{{ city }} <small>Lombardia, Italia</small></h1>
  </div>
  <div class="city-detail">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    5365 cittadini
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    200 segnalazioni
  </div>
  {{ city }} è un comune in Lombardia, Italia.<br>
  27 persone hanno contribuito a migliorare {{ city }}, effettuando 200 segnalazioni,
  89 commenti e 288 punti.<br>
  Non ci sono impiegati comunali registrati per {{ city }}, chiedi al tuo comune
  di registrarsi ad Harambee!<br><br>
  <div class="container-fluid">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-2 col-md-push-10">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Segnalazioni <span class="badge">200</span></a></li>
          <li role="presentation"><a href="#">Utenti <span class="badge">27</span></a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      </div>
      <div class="col-md-10 col-md-pull-2">
        <ul class="list-group">
          <li class="list-group-item collapsed">
            <h2 class="bug-title">Buca in via Roma <span class="badge">25 punti</span> <span class="badge">8 commenti</span></h2>
            <div class="bug-details">Una buca stradale davvero profonda e pericolosa in Via Roma. CI sono state varie segnalazioni di persone
            che dicono di aver danneggiato i propri veicoli a causa della buca.</div>
          </li>
          <li class="list-group-item collapsed">
            <h2 class="bug-title">Lampione non funzionante <span class="badge">21 punti</span> <span class="badge">16 commenti</span></h2>
            <div class="bug-details">Il lampione di Via Torino funziona "al contrario": è acceso costantemente e si spegne quando qualcuno passa di lì.
              Probabilmente il sensore è invertito.</div>
          </li>
          <li class="list-group-item collapsed">Rifiuti per strada <span class="badge">19 punti</span> </li>
          <li class="list-group-item collapsed">Specchio girato male <span class="badge">19 punti</span> <span class="badge">2 commenti</span></li>
          <li class="list-group-item collapsed">Erba troppo alta <span class="badge">18 punti</span> <span class="badge">16 commenti</span></li>
          <li class="list-group-item collapsed">Strisce pedonali poco visibili <span class="badge">12 punti</span> <span class="badge">16 commenti</span></li>
          <li class="list-group-item collapsed">Graffiti su muro scuola elementare <span class="badge">9 punti</span> </li>
          <li class="list-group-item collapsed">Graffiti in stazione <span class="badge">8 punti</span> </li>
        </ul>
      </div>
    </div>
    <script>
      window.onload = function() {
          $('li.list-group-item.collapsed').hover(function() {
              $(this).toggleClass('collapsed', 1200);
          });
      };
    </script>
  </div>
{% endblock %}
