{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <h1>Welcome to Harambee!</h1>
  <p>
    Benvenuto su Harambee, una piattaforma dedicata al miglioramento dei luoghi in cui vivi.<br>
    Per cominciare, cerca il tuo comune:
    <input id="city" class="typeahead">
    <script>      
      window.onload = function() {
          var citynames = ['Arsago', 'Casorate', 'Somma Lombardo'];
          /*var cities = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              local: $.map(citynames, function(state) { return {value: state}; })
          });
          cities.initialize();*/
          $('#city').typeahead();
          /*{
              hint: true,
              highlight: true,
          } {
              name: 'Boh',
              displayKey: 'value',
              source: cities.ttAdapter()
          });*/
      }
    </script>
  </p>
</div>
{% endblock %}
