{% extends 'layout.html' %}
{% block body %}
  <div class="page-header"><h1>Segnala un problema</h1></div>
  <form action="{{ url_for('new_bug', city_id=city_id) }}" method="post">
    <div class="form-group">
      {{ form.title.label }}:
      {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.description.label }}:
      {{ form.description(class_="form-control", rows="8") }}
    </div>
    {{ form.hidden_tag() }}
    <button type="submit" class="btn btn-primary">Crea!</button>
  </form>
{% endblock %}
