@import url("bootstrap.css");
/* @import url("bootstrap-theme.css"); */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 1.5em;
    font-color: #121212;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #424242;
    font-size: 0.8em;
    color: #c3c3c3;
    line-height: 60px;
    text-align: right;
    padding-right: 100px;
}

.city-detail {
    margin-bottom: 20px;
}

.nav-stacked .badge {
    float: right;
}

.list-group-item.collapsed > h2.bug-title {
    font-size: 1.0em;
    font-weight: normal;
    display: inline;
}

.list-group-item.collapsed > .bug-details {
    display: none;
}

h2.bug-title {
    margin-top: 5px;
    width: 100%;
}

h2.bug-title > .badge {
    float: right;
}

h2.bug-title > .badge + .badge {
  margin-right: 5px;
}

#container {
    width: 80%;
    min-width: 400px;
}